.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.core-concepts ul{
list-style: none;
padding: 0;
}
body {
  background-color: #379b16;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
.core-concepts {

  padding: 2rem;
 border-radius: 6px;
 background-color: #140524;
box-shadow: #a18aba;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 80%; /* set the width of the container */
  margin: 40px auto; /* center the container horizontally */
  background-color: #282c34;  /* add a background color to the container */
  padding: 20px; /* add padding to the container */
  border: 1px solid #090909; /* add a border to the container */
}

.horizontal-list {
  list-style: none; /* remove bullet points */
  padding: 0; /* remove padding */
  margin: 0; /* remove margin */
  display: flex; /* display list items inline */
  flex-wrap: wrap; /* allow list items to wrap to next line if necessary */
  justify-content: space-between; /* distribute list items evenly */
}

.horizontal-list li {
 
  margin-right: 10px; /* add space between list items */
  width: 20%; /* set the width of each list item */
  background-color: #282c34;  /* add a background color to each list item */
  padding: 10px; /* add padding to each list item */
  border: 1px solid #13eb5f; /* add a border to each list item */
  /* border-right: none; remove right border for all list items except the last one */
  flex-grow: 1;
}
.horizontal-list li img {
  width: 50px; /* set the width of the image */
  height: 50px; /* set the height of the image */
  margin-right: 10px; /* add space between image and text */
  vertical-align: middle; /* vertically align the image with the text */
}
